body{
  margin:0;
}

img{
  display: block;
}

.meme{
  width: 100%;
  margin-bottom: 20px;
}

.xaxis{
  font-family: 'Martel', serif;
  font-size: 12px;
  color: #4f4f4f;
}

.yaxis{
  font-family: 'Martel', serif;
  font-size: 12px;
  color: #4f4f4f;
}

path.line {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

p{
  font-family: 'Martel', serif;
  font-size: 16px;
  line-height: 200%;
  color: #303030;
}

strong{
  font-family: 'DM Serif Display', serif;
  font-size: 20px;
  line-height: 180%;
}

.quotes{
  width: 100%;
  margin-bottom: 20px;
}

q{
  font-family: 'Martel', serif;
  font-size: 24px;
  color: #909090;
}

#headline{
  width: 150%;
}

h1{
  font-family: 'DM Serif Display', serif;
  font-size: 72px;
}

h2{
  font-family: 'DM Serif Display', serif;
  font-size: 40px;
  margin-top: 50vh;
}

h3{
  font-family: 'DM Serif Display', serif;
  font-size: 26px;
}


#menu_bar{
  width:30%;
  position: fixed;
  padding-right: 60px;
  bottom: 10vh;
  right: 8%;
}

.menu_item{
  display: block;
  text-align: right;
  font-family: 'DM Serif Display', serif;
  font-size: 20px;
}

a:link{
  text-decoration: none;
  color: #000000;
}

a:hover{
  color: #909090;
}

a:visited{
  color: #000000;
}

#scrollingWrapper{
  height:100vh;
  z-index: 1;
  overflow: scroll;
}
#content{
  width: 28%;
  position: relative;
  padding-top: 40vh;
  left: 14%;
  z-index: 1;
}

.svg_demo{
  border: solid black 1px;
  width: 100%;
}

#TFRB_amount svg{
  width: 100%;
}

.sections{
  margin-top: 50vh;
}

#viz{
  width: 48%;
  height: 30%;
  position: fixed;
  top: 12vh;
  left: 44%;
}

#chart_title{
  text-align: right;
  padding-right: 60px;
  margin-bottom: 0px;
  /* color: #4f4f4f; */
}

svg{
  width: 100%;
  z-index: 0;
}

.svgSize{
  /* transform-origin: 50% 50%; */
}

#hoverInfo{
  font-family: 'Martel', serif;
  font-size: 8px;
}

#hoverInfo02{
  font-family: 'Martel', serif;
  font-size: 8px;
}
