body{
  margin:0;
}

img{
  width:400px;
  display: block;
}

p{
  font-family: 'Martel', serif;
  font-size: 18px;
  line-height: 180%;
}

strong{
  font-family: 'DM Serif Display', serif;
  font-size: 20px;
  line-height: 180%;
}

.quotes{
  width: 150%;
}

q{
  font-family: 'Martel', serif;
  font-size: 24px;
  color: #909090;
}

.headline{
  width: 150%;
}

h1{
  font-family: 'DM Serif Display', serif;
  font-size: 72px;
}

h2{
  font-family: 'DM Serif Display', serif;
  font-size: 40px;
}

h3{
  font-family: 'DM Serif Display', serif;
  font-size: 26px;
}

#menu_bar{
  width:30%;
  position: fixed;
  bottom: 30vh;
  left: 72%;
}

.menu_item{
  display: block;
  font-family: 'DM Serif Display', serif;
  font-size: 20px;
}

a:link{
  text-decoration: none;
  color: #000000;
}

a:hover{
  color: #909090;
}

#content{
  width: 30%;
  position: relative;
  top:40vh;
  left: 24%;
}

.svg_demo{
  border: solid black 1px;
  width: 150%;
}

#TFRB_amount svg{
  width: 100%;
}

.sections{
  margin-top: 50vh;
}
